@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Lustria&display=swap');

.row {
    min-height: 100vh;
    background: linear-gradient(to bottom, #B1F3FF, #FFF2A9, #B5CFB7);
}

.atass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

.atas {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.bawahh {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.bawah {
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 211px;
    height: auto;
    z-index: 1;
}

.bawah2 {
    position: absolute;
    bottom: 0;
    left: -100px;
    width: 211px;
    height: auto;
    z-index: 1;
}

.content{
    text-align: center;
}

.title{
    font-size: 16px;
    color: #ACA9A3;
    font-family: "Lustria", serif;
}

.title-undangan{
    font-size: 36px;
    color: #ACA9A3;
    font-family: "Glass Antiqua", serif;
    margin-bottom: 50px;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 20%;
}

.child {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
}

.plane {
    position: absolute;
    width: 60%;
    top: 75px;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.name{
    font-size: 40px;
    color: #4F8E8D;
    font-family: "Glass Antiqua", serif;
}

.name p {
    margin: 4px 0;
    line-height: 1.1;
}

.parents {
    margin-top: 8px;
    font-size: 16px;
    color: #6b7d7c;
    font-family: "Lustria", serif;
}

.parents p {
    margin: 6px 0 0 0;
}

.invitation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFFFFF;
    z-index: 3;
    margin-top: 12px;
}

.invitation-card {
    background: #CAC5A370;
    border-radius: 12px;
    padding: 5px 50px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.invitation-card p {
    font-family: "Livvic", sans-serif;
    margin: 10px 0;
    font-size: 14px;
}

.recipient {
    font-size: 16px;
    font-family: "Livvic", sans-serif;
}

.guest-name {
    font-family: "Copse", serif;
    font-size: 21px;
}

.btn-container {
    text-align: center;
    margin-bottom: 32px;
    font-family: "Copse", serif;
    color: #474E68;
    z-index: 2;
}

.open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBF9F1;
    color: #474E68;
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 9px;
    padding: 10px 20px;
    cursor: pointer;
}

.open-btn:hover {
    background-color: #fbf9f1df;
}